#header{
  text-align: center;
  font-family: "Times New Roman", "Serif";
  color: rebeccapurple;
}
.rando-text{
  font-family: "Arial", "Sans-serif";
  color: goldenrod;
}
.cooler-rando-text{
  font-family: "Arial", "Sans-serif";
  text-align: right;
  color: darkblue;
}
