#header {
  text-align: center;
  font-family: "Times New Roman", "Georgia","Serif";
  color: rebeccapurple;
}
.rando-text {
  font-family: "Arial", "Helvetica", "Sans-serif";
  color: goldenrod;
}
.cooler-rando-text {
  font-family: "Arial", "Helvetica", "Sans-serif";
  text-align: right;
  color: darkblue;
}
