#header {
  text-align: center;
  font-family: "Times New Roman", "Times", "Serif";
  color: rebeccapurple;
}

.rando-text {
  font-family: "Arial", "Helvetica", "Sans-serif";
  color: darkblue;
}

.cooler-rando-text {
  font-family: "Arial", "Helvetica", "Sans-serif";
  text-align: right;
  color: gold;
}
